table{
    border-collapse: collapse; 
    margin:auto;
    text-align: center;
    font-size: 40px;
    cursor:pointer; 
}

header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo-header{
    height: 11rem;
    width: 18rem;
}

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    color: white;
}

.player img{
    height: 7rem;
    width: 7rem;
}


section{
    height: 75vh;
    flex-direction: column;
}

td{
    width: 12rem;
}

td + td, th + th { 
    height: 11rem;
    border-left: 5px solid white; 
}
tr + tr { 
    border-top: 5px solid white; 
}

.button{
    height: 15vh;
    margin-left: 2rem;
}

.button a {  
    width: 13rem;
    height: 5rem;
    
}