<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="./style.css">
    <title>Tela de Jogo</title>
</head>
<body>
    <header>
        <img src="../../shared/imgs/logo.png" alt="" class="logo-header">
        <div class="player">
            <h1>JOGADOR</h1>
        <img src="../../shared/imgs/o.svg" alt="jogador-img">
        <h1>JOGA</h1>
        </div>
    </header>
    <section>
        <table>
            <tr>
                <td id="0" onclick="mostrar(0, 0)"></td>
                <td id="1" onclick="mostrar(0, 1)"></td>
                <td id="2" onclick="mostrar(0, 2)"></td>
            </tr>
            <tr>
                <td id="3" onclick="mostrar(1, 0)"></td>
                <td id="4" onclick="mostrar(1, 1)"></td>
                <td id="5" onclick="mostrar(1, 2)"></td>
            </tr>
            <tr>
                <td id="6" onclick="mostrar(2, 0)"></td>
                <td id="7" onclick="mostrar(2, 1)"></td>
                <td id="8" onclick="mostrar(2, 2)"></td>
            </tr>
        </table>
    </section>

    <div class="button">
        <a href="../index.html">
            <span>Sair</span>
        </a>
    </div>
</body>
</html>